.glow-button {
  position: relative;
  display: inline-block;
  padding: 0.6rem 1.5rem;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #143938;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.glow-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg, rgba(255,255,255,0.0), rgba(255,255,255,0.6), rgba(255,255,255,0.0));
  transform: skewX(-25deg);
  filter: blur(6px);
  transition: all 0.7s ease;
}

.glow-button:hover::after {
  left: 125%;
}

.glow-button:hover {
  box-shadow: 0 0 15px rgba(168, 159, 159, 0.2);
  transform: scale(1.02);
}


/* --------------prpertydetail---- */
/* Hover glow on cards */
.hover-card {
  transition: transform 0.3s, box-shadow 0.3s;
}
.hover-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

/* Hover glow on amenities */
.amenity-badge {
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}
.amenity-badge:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #4270b6;
}

/* Animated Rent/Buy button */
.rent-btn {
  background: linear-gradient(90deg, #0f1f38, #203a5f);
  border: none;
  color: rgb(133, 126, 126);
  font-weight: 500;
  /* transition: all 0.1s; */
}
.rent-btn:hover {
  /* transform: scale(1.05); */
  box-shadow: 0 0 15px #072857;
}
.color-icon{
    color:#072857;
    font-size: 1.5rem;
    margin-top: 1px;
}
